* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body{
    background-color: rgb(136, 136, 136);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, p{
    text-align: center;
    color: rgb(152, 0, 0);
}


h1{
    font-size: 30px;
}



p{
    font-size: 18px;
}

h2{
    font-size: 20px;
}

