.container{
    max-width: 718px;
    width: 100%;
    margin: 0px 20px;
    background-color: rgb(255, 252, 239);
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.32);
}


#tela-inicial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#tela-inicial h2{
    color: rgb(120, 4, 4);
}

#icon-principal{
    font-size: 50px;
}


#icon-tela-inicial{
    height: 100px
}

.como-jogar-container{
    width: 100%;
    height: fit-content;
    background-color: bisque;
    border: 1px solid rgb(255, 180, 88);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
}

.como-jogar-container span{
    height: 15px;
    margin-right: 5px;
}

#check-emoji{
    color: green;
    font-weight: 500;
}
.como-jogar-container p{
    text-align: left;
    font-size: 15px;
    color: rgb(37, 37, 37);
}

.quantidade-de-jogadores-btns{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.quantidade-de-jogadores-btns button{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: 2px solid rgb(255, 180, 88);
    border-radius: 5px;
    font-size: 20px;
    color: red;
    transition: 0.3s;
}

.quantidade-de-jogadores-btns button:hover{
    background: bisque;
}

.quantidade-de-jogadores-btns .active{
    background-color: red;
    color: white;
}
.quantidade-de-jogadores-btns .active:hover{
    background-color: red;
    color: white;
}

.main-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #ff6a00, #ff0000);
    font-size: 20px;
    color: white;
}
