#resultado-final{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tabela p {
  padding: 10px 15px;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Cores pastel */
.ouro {
  background-color: #fff2b0; /* dourado pastel */
  color: #8a6d00;
}

.prata {
  background-color: #dfdfe7; /* prata pastel */
  color: #6e6e6e;
}

.bronze {
  background-color: #ffe3c8; /* bronze pastel */
  color: #a15f2f;
}

.neutro {
  background-color: #c1c1c1; /* fundo branco suave */
  color: #444;
}
